@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background-color: #FDFDFE;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Color and style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #8883d8;
    border-radius: 0;
}
